@(producto: play.data.Form[Product])(prod: models.Product)

@main("Cambiar Foto de Producto"){
<div class="container">
    <div class="card">
        <div class="row" align="center">
            <br>
            <h3>Cambiar foto de @prod.getNombre() - @prod.getCodVenta()</h3>
            @helper.form(action=routes.ProductController.uploadFoto(prod.getBodega.getNombreSucursal(),prod.getCodVenta()), 'enctype -> "multipart/form-data"){
            @helper.CSRF.formField
            <div class="row">
                <div class="input-field col s12">
                    <input type="file"  name="urlFoto" required="required">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="submit" class="btn waves-effect waves-light" value="Cambiar foto del Producto">
                </div>
                <div class="input-field col s6">
                    <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.show(prod.getBodega().getNombreSucursal())">Volver</a>
                </div>
            </div>
            }
            <br>
        </div>
    </div>
</div>
}